html, 
body{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    grid-template-rows: 150px 1fr 1fr;
    grid-auto-rows: fit-content(1em);
    top: 0;
    bottom:0;
    position: absolute;
    width: 100%;
    background-image: url("/img/shaggy-has-an-existential-crisis-in-the-woods.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top center;
    background-attachment: fixed;
}

.header{
    display: block;
    grid-column: 1 / 4;
    grid-row: 1;
}

.logo{
    width: 150px;
    height: 150px;
}

.sheats{
    text-align: center;
    padding-top: 10px;
}

.sheats-background{
    background-color: rgba(107,68,11,0.75);
}

.sidemenu{
    overflow-y: scroll;
    grid-column: 1;
    grid-row: 2 / 4;
    background-color: rgba(107,68,11, 0.75);
}

.content{
    overflow-y: scroll;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: rgba(255, 255, 255, 0.75);
}

.sidemenu{
    text-align: center;
}

.link{
    font-size: 30px;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

    a:link {
    color: rgb(34,158,30);
}

a:visited {
    color: rgb(34,158,30);
}

a:hover {
    color: rgb(34,158,30);
    font-size: 32px;
}

a:active {
    color:rgb(34, 110, 30);
    font-size: 32px;
}

.mediaicon {
    width: 50px;
    height: 50px;
}

.topspacing {
    padding-top: 50px;
}

.menutitle {
    text-align: center;
    color: rgb(34,158,30);
    font-size: 60px;
    font-family: 'Spline Sans', sans-serif;
}

.menuitem {
    text-align: center;
    color: rgb(34,158,30);
    font-size: 20px;
    font-family: 'Spline Sans', sans-serif;
}

.description {
    text-align: center;
    color: rgb(34,158,30);
    font-size: 15px;
    font-family: 'Spline Sans', sans-serif;
}

.aboutname {
    text-align: center;
    color: rgb(34,158,30);
    font-family: 'Spline Sans', sans-serif;
    font-size: 55px;
}

.aboutfacts {
    color: rgb(34,158,30);
    font-family: 'Spline Sans', sans-serif;
    text-align: center;
    font-size: 20px;
}

.link2 {
    font-size: 25px;
    padding-top: 25px;
    font-weight: bold;
}

.founderboy {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home {
    text-align: right;
}

.home img {
    height: 40px;
    width: 40px;
    padding-right: 10px;
    padding-top: 10px;
}

.orderform label {
    width: 150px;
    display: inline-block;
}

.orderform input[type=text],textarea {
    width: 40vw;
}

.orderform {
    color: rgb(34,158,30);
    font-family: 'Spline Sans', sans-serif;
    margin-left: 15px;
    font-size: 20px;
    vertical-align: top;
    display: table-cell;
}

#button1 {
    margin-left: 15vw;
}

#button2 {
    margin-left: 20vw;
}

.buttons {
    width: 80px;
}

.formstyle {
    margin-top: 5vw;
}

.spacer {
    height: 20px;
}

.formname {
    color: rgb(34,158,30);
    font-family: 'Spline Sans', sans-serif;
    margin-left: 20vw;
}

.namestyling {
    margin-left: 3vw;
}

#ordername {
    vertical-align: top;
}

.foodstyling {
    color: rgb(34,158,30);
    font-family: 'Spline Sans', sans-serif;
    width: 275px;
    display: inline-block;
}

.spacer2 {
    height: 3vw;
}

.menustyling {
    padding-left: 2vw;
    font-size: 20px;
    vertical-align: top;
    display: table-cell;
}

.buttonstyling {
    background-color: rgb(34,158,30); 
    border: none;
    color: rgb(107,68,11);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    width: 100px;
    height: 25px;
}

.linktillsida {
    background-color: rgb(107,68,11);
    border: 2px solid rgb(34, 110, 30);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.inputstyling {
    height: 23px;
}